<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wikiholic.ConfluencePlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Wikiholic.ConfluencePlugin.Properties.Settings>
            <setting name="Wikiholic_ConfluencePlugin_com_atlassian_confluence_ConfluenceSoapServiceService"
                serializeAs="String">
                <value>http://confluence.atlassian.com/rpc/soap-axis/confluenceservice-v1</value>
            </setting>
        </Wikiholic.ConfluencePlugin.Properties.Settings>
    </applicationSettings>
</configuration>